.container-center {
  max-width: 935px;
  margin: 0 auto;
}

.header-margin-top {
  margin-top: $header-margin-top;
}

.box {
  border: 1px solid var(--border);
  background-color: var(--white);
  max-width: $box-max-width;
}
