.smartphone {
  background-image: url('../assets/smartphone.png');
  height: 581.15px;
  min-width: 380px;
  background-repeat: no-repeat;
  background-size: 468.32px 634.15px;
  background-position: -46px 0;
}

.screen {
  max-width: 653px;
  display: none;
  max-height: 544px;
  position: relative;
  top: 24px;
  left: 110px;
}

.active {
  display: block;
}
