// Global Variables
$blue-light: #0095f6;
$blue-dark: #385185;
$white: #fff;
$black: #262626;

$background: #fafafa;
$border: #dbdbdb;

// Spaing, Sizes and Breakpoints
$header-margin-top: 111px;
$box-max-width: 350px;
